= link_to(image_tag('/images/share/linkedin_32.png', :class => 'microblogging'),share_url(@question, :linkedin), :rel=>"external nofollow", :title => t("questions.show.share_on", :site => "linked in"))

