= image_tag('/images/hi16-app-twitter_microblog.png', :class => 'microblogging')
= link_to("twitter", "javascript:window.location='#{share_url(@question, :twitter)}'", :class => "button",  :target=>"_blank", :rel=>"nofollow")
