
%h1
  = t("views.questions.index.title")

.buttons
  = link_to I18n.t("views.layout.ask_question"), new_question_path, :class => "button"
%br.clear

#questions
  -@questions.each do |question|
    = render :partial => "shared/question", :locals => {:question => question}

.buttons
  = link_to I18n.t("views.layout.ask_question"), new_question_path, :class => "button"
