%h2
  = t(".title")
- form_for(@question, :html=>{:class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .field-group
    .buttons
      = f.submit t('scaffold.create')
      = link_to t('scaffold.cancel'), questions_path, :class => "button cancel"
