
-content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(@question, :html=>{:class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .group.navform
    = f.submit t('scaffold.create')
    or
    = link_to t('scaffold.cancel'), questions_path, :class => "button cancel"
