%h2
  New question
- form_for(@question, :html=>{:class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f}

  .field-group
    .buttons
      = f.submit 'Create'
      = link_to 'Cancel', questions_path, :class => "button cancel"