
%table.tags-list{:style => "width: 100%"}
  -@tag_cloud.each_slice(4) do |tags|
    %tr
      -tags.each do |tag|
        %td{:style => "line-height: 14px"}
          %span.tag
            =link_to h(tag["name"]), questions_path(:language => current_languages, :tags => tag["name"])
          %span{:style => "padding-left: 4px; clear:both"}
            %b
              x
              = h(tag["count"])

