.field-group
  .label-container
    = form.label :adbard_host_id
  .field
    = form.text_field :adbard_host_id, :class => "text-field"
.field-group
  .label-container
    = form.label :adbard_site_key
  .field
    = form.text_field :adbard_site_key, :class => "text-field"
