
-content_for :subtabs do
  .navtitle
    Manage Ads

%ul.buttons
  %li
    = link_to t("ads.ad_links", :type => "Adsense"), new_ad_path(:type => "Adsense"), :class => "button"
  %li
    = link_to t("ads.ad_links", :type => "Adbard"), new_ad_path(:type => "Adbard"), :class => "button"

#ads
  -@ads.each do |ad|
    = render :partial => "ad", :object => ad
