- content_for :subtabs do
  .navtitle
    = t(".title", :model => I18n.t("activerecord.models.question"))

= render :partial => "open_requests/form", :locals => {:open_request => @open_request, :question => @question }
