-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hola #{@user.login},
%br

== Has ganado una insigna #{@badge.name} en #{AppConfig.application_name}
%br

La descripcion de la insigna:
%h2
  = @badge.description

Puedes ver todas tus insignas en tu
=link_to "pagina usuario", link


