-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hi #{@user.login},
%br

== You have earned a #{@badge.name} badge on #{AppConfig.application_name}
%br

Badge description:
%h2
  = @badge.description

You can see all your badges on your
=link_to "user page", link


