-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== #{@user.login}さん

== あなたは#{AppConfig.application_name}からバッジ#{@badge.name}を受け取りました！

バッジ詳細：

= @badge.description

全てのバッチはプロフィールページで見ることができます。
=link
