-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Salut #{@user.login},
%br

== Vous avez gagné l'insigne #{@badge.name} sur #{AppConfig.application_name}
%br

Description de l'insigne:
%h2
  = @badge.description

Vous pouvez voir toutes vos insignes sur votre
=link_to "page utilisateur", link
