-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hi #{@user.login}

== You have earned a #{@badge.name} badge on #{AppConfig.application_name}

Badge description:

= @badge.description

You can see all your badges on your user page
=link
