-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hola #{@user.login}

== Has ganado una insigna #{@badge.name} en #{AppConfig.application_name}

La descripcion de la insigna:

= @badge.description

Puedes ver todas tus insignas en tu pagina de usuario
=link
