-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Salut #{@user.login}

== Vous avez gagné l'insigne #{@badge.name} sur #{AppConfig.application_name}

Description de l'insigne:

= @badge.description

Vous pouvez voir toutes vos insignes sur votre page utilisateur
link
