-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Γεια σας #{@user.login}

== Έχετε κερδίσει τον τίτλο #{@badge.name} στο #{AppConfig.application_name}

Περιγραφή τίτλου:

= @badge.description

Μπορείτε να δείτε όλους τους τίτλους σας στην σελίδα σας
=link
