-link = url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== #{@user.login}さん、
%br

== あなたは#{AppConfig.application_name}からバッジ#{@badge.name}を受け取りました！
%br

バッジ詳細：
%h2
  = @badge.description

全てのバッチはプロフィールページで見ることができます。
=link_to "プロフィールページへ", link


