-link = url_for(:host => @group.domain, :controller => "questions", :action => "show", :id => @question.to_param)
-user_link= url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Salut #{@question.user.login},
%br
%br

== #{link_to(@user.login, user_link)} a ajouté votre question comme favorite sur #{@group.name}

%br
%br
Le texte de la question:
%h2
  =link_to h(@question.title), link

%br
