-link = url_for(:host => @group.domain, :controller => "questions", :action => "show", :id => @question.to_param)
-user_link= url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Γεια σας #{@question.user.login},
%br
%br

== Ο/η #{link_to(@user.login, user_link)} προσέθεσε την ερώτησή σας ως αγαπημένη στο #{@group.name}

%br
%br
Το κείμενο της ερώτησής σας:
%h2
  =link_to h(@question.title), link

%br
