-link = url_for(:host => @group.domain, :controller => "questions", :action => "show", :id => @question.to_param)
-user_link= url_for(:host => @group.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hola #{@question.user.login},
%br
%br

== #{link_to(@user.login, user_link)}  agrego tu pregunta como favorita en #{@group.name}

%br
%br
El texto de tu pregunta:
%h2
  =link_to h(@question.title), link

%br
