-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Γεια σας #{@followed.login},
%br
%br

== Ο/η #{@user.login} παρακολουθεί τις ερωτήσεις και απαντήσεις σας στο #{AppConfig.application_name}
Μπορείτε να τον ακολουθήσετε κι εσείς πατώντας στο κουμπί "ακολουθήστε" στην
= link_to "σελίδα του", link

