-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)
= t("notifier.global.hi", :user => @followed.login)
%br
%br

= t("notifier.follow.message1", :user => @user.login, :app => AppConfig.application_name)
= t("notifier.follow.message2", :user_page => link_to(t("notifier.global.user_page"), link))