-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Salut #{@followed.login}

== #{@user.login} suit vos questions et réponses sur #{AppConfig.application_name}
Vous pouvez le suivre à votre tour en cliquant sur le boutton "Suivre" sur sa
= link_to "page utilisateur", link
