-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)

== #{@followed.login}さん

== #{@user.login}さんがあなたの質問と答えをフォローしました。（#{AppConfig.application_name}）
ぜひフォローバックしてあげて下さい。フォローは以下のリンクで、フォローボタンを押すだけです。
=link
