-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hola #{@followed.login}

== #{@user.login} esta siguiendo sus preguntas y respuestas en #{AppConfig.application_name}
Lo puedes seguir de vuelta haciendo clic en el boton "Seguir" en su
= link_to "pagina de usuario", link
