-link = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user.to_param)

== Hi #{@followed.login}

== #{@user.login} is now following your questions and answers on #{AppConfig.application_name}
You may follow him back by clicking on the button "Follow" on his
= link_to "user page", link
