- new_answer = find_and_preserve("<pre style='font-size:20px'>"+ shapado_auto_link(markdown(@answer.body, :group => @group))+"</pre>")
- question = link_to h(@question.title), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)

%p
  = t("notifier.global.hi", :user => h(@user.login))
  %br
    = t("notifier.new_answer.message", :user => h(@answer.user.login), :new_answer => new_answer, :question => question)
