- new_comment = @comment.body
- question = "#{h(@question.title)}, #{url_for(:host => @group.domain, :controller => "questions", :action => "show", :id => @question.slug)}"

= t("notifier.global.hi", :user => h(@user.login))


= t("notifier.new_comment.message", :user => h(@comment.user.login), :new_comment => h(new_comment), :question => question)
