
%p
  == Hola #{h(@user.login)},
  %br
  %br
  = h(@comment.user.login)
  comento:
  = find_and_preserve("<pre style='font-size:20px'>"+ shapado_auto_link(markdown(@comment.body, :group => @group))+"</pre>")
  en la pregunta
  = link_to h(@question.title), url_for(:host => @group.domain, :controller => "questions", :action => "show", :id => @question.slug)
