
%p
  == #{h(@user.login)}さん,
  %br
  = h(@answer.user.login)
  さんの質問
  = find_and_preserve("<pre style='font-size:20px'>"+ shapado_auto_link(markdown(@answer.body, :group => @group))+"</pre>")
  に対する回答を
  = link_to h(@question.title), url_for(:host => @domain, :controller => "questions", :action => "show", :id => @question.slug)
  にて受け取りました
