.badge{:class => local_assigns[:mini] ? "mini" : "big"}
  .icon{:class => badge[:type]}
  .text
    =link_to h(badge.name), badge_path(:id => badge.token)
    -unless local_assigns[:mini]
      %span.user
        =link_to h(badge.user.login), user_path(badge.user)
