%a.badge{:class => local_assigns[:mini] ? "mini" : "big", :href => badge_path(:id => badge.token)}
  %span.icon{:class => badge[:type]}
  =badge.name

-if !local_assigns[:hide_user] && !local_assigns[:mini]
  %span.user
    =link_to h(badge.user.login), user_path(badge.user)
