#users
  .badges
    line-height: 25px
    width: 80%

#users_show
  #badges
    width: 40%

.general-info
  .avatar
    float: left
  .user-info
    padding: 8px
    margin: 4px
    float: left
    background: #eee


a.follow_link
  +fancy-button-structure
  +fancy-button-colors-matte(#E76400)
  +fancy-button-size(24px, 18px, 1px, 15px)
  float: right
  &:active, &:link
    color: white

a.unfollow_link
  +fancy-button-structure
  +fancy-button-colors-matte(#FF0000)
  +fancy-button-size(24px, 18px, 1px, 15px)
  float: right
  &:active, &:link, &:visited
    color: white


.friend_list
  margin: 3px
  span
    padding: 1px 2px