  .ui-helper-hidden {display: none}
.ui-helper-hidden-accessible {position: absolute; left: -99999999px}
.ui-helper-reset {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none}
.ui-helper-clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden}
.ui-helper-clearfix {display: inline-block}
 * html .ui-helper-clearfix {height:1%}
.ui-helper-clearfix {display:block}
 .ui-helper-zfix {width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0)}
 .ui-state-disabled {cursor: default !important}
  .ui-icon {display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat}
  .ui-widget-overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%}
  .ui-widget {font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em}
.ui-widget-content {border: 1px solid #dddddd; background: #f9f9f9 url(./images/ui-bg_highlight-hard_100_f9f9f9_1x100.png) 50% top repeat-x; color: #362b36}
.ui-widget-content a {color: #367736}
.ui-widget-header {border: 1px solid #b2c7d7; background: #e7eef3 url(./images/ui-bg_highlight-soft_100_e7eef3_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold}
.ui-widget-header a {color: #222222}
 .ui-state-default, .ui-widget-content .ui-state-default {border: 1px solid #cccccc; background: #e6e6e6 url(./images/ui-bg_glass_80_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #444444; outline: none}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color: #444444; text-decoration: none; outline: none}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {border: 1px solid #b2c7d7; background: #f0f0f0 url(./images/ui-bg_glass_100_f0f0f0_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #0b5b98; outline: none}
.ui-state-hover a, .ui-state-hover a:hover {color: #0b5b98; text-decoration: none; outline: none}
.ui-state-active, .ui-widget-content .ui-state-active {border: 1px solid #2694e8; background: #99c2ff url(./images/ui-bg_glass_50_99c2ff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #000000; outline: none}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #000000; outline: none; text-decoration: none}
 .ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #f9dd34; background: #fbf5d0 url(./images/ui-bg_glass_55_fbf5d0_1x400.png) 50% 50% repeat-x; color: #363636}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a {color: #363636}
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(./images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a}
.ui-state-error a, .ui-widget-content .ui-state-error a {color: #cd0a0a}
.ui-state-error-text, .ui-widget-content .ui-state-error-text {color: #cd0a0a}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {opacity: .35; filter:Alpha(Opacity=35); background-image: none}
.ui-priority-primary, .ui-widget-content .ui-priority-primary {font-weight: bold}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary {opacity: .7; filter:Alpha(Opacity=70); font-weight: normal}
  .ui-icon {width: 16px; height: 16px; background-image: url(./images/ui-icons_222222_256x240.png)}
.ui-widget-content .ui-icon {background-image: url(./images/ui-icons_222222_256x240.png)}
.ui-widget-header .ui-icon {background-image: url(./images/ui-icons_72a7cf_256x240.png)}
.ui-state-default .ui-icon {background-image: url(./images/ui-icons_888888_256x240.png)}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(./images/ui-icons_2694e8_256x240.png)}
.ui-state-active .ui-icon {background-image: url(./images/ui-icons_ffffff_256x240.png)}
.ui-state-highlight .ui-icon {background-image: url(./images/ui-icons_2e83ff_256x240.png)}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(./images/ui-icons_cd0a0a_256x240.png)}
 .ui-icon-carat-1-n {background-position: 0 0}
.ui-icon-carat-1-ne {background-position: -16px 0}
.ui-icon-carat-1-e {background-position: -32px 0}
.ui-icon-carat-1-se {background-position: -48px 0}
.ui-icon-carat-1-s {background-position: -64px 0}
.ui-icon-carat-1-sw {background-position: -80px 0}
.ui-icon-carat-1-w {background-position: -96px 0}
.ui-icon-carat-1-nw {background-position: -112px 0}
.ui-icon-carat-2-n-s {background-position: -128px 0}
.ui-icon-carat-2-e-w {background-position: -144px 0}
.ui-icon-triangle-1-n {background-position: 0 -16px}
.ui-icon-triangle-1-ne {background-position: -16px -16px}
.ui-icon-triangle-1-e {background-position: -32px -16px}
.ui-icon-triangle-1-se {background-position: -48px -16px}
.ui-icon-triangle-1-s {background-position: -64px -16px}
.ui-icon-triangle-1-sw {background-position: -80px -16px}
.ui-icon-triangle-1-w {background-position: -96px -16px}
.ui-icon-triangle-1-nw {background-position: -112px -16px}
.ui-icon-triangle-2-n-s {background-position: -128px -16px}
.ui-icon-triangle-2-e-w {background-position: -144px -16px}
.ui-icon-arrow-1-n {background-position: 0 -32px}
.ui-icon-arrow-1-ne {background-position: -16px -32px}
.ui-icon-arrow-1-e {background-position: -32px -32px}
.ui-icon-arrow-1-se {background-position: -48px -32px}
.ui-icon-arrow-1-s {background-position: -64px -32px}
.ui-icon-arrow-1-sw {background-position: -80px -32px}
.ui-icon-arrow-1-w {background-position: -96px -32px}
.ui-icon-arrow-1-nw {background-position: -112px -32px}
.ui-icon-arrow-2-n-s {background-position: -128px -32px}
.ui-icon-arrow-2-ne-sw {background-position: -144px -32px}
.ui-icon-arrow-2-e-w {background-position: -160px -32px}
.ui-icon-arrow-2-se-nw {background-position: -176px -32px}
.ui-icon-arrowstop-1-n {background-position: -192px -32px}
.ui-icon-arrowstop-1-e {background-position: -208px -32px}
.ui-icon-arrowstop-1-s {background-position: -224px -32px}
.ui-icon-arrowstop-1-w {background-position: -240px -32px}
.ui-icon-arrowthick-1-n {background-position: 0 -48px}
.ui-icon-arrowthick-1-ne {background-position: -16px -48px}
.ui-icon-arrowthick-1-e {background-position: -32px -48px}
.ui-icon-arrowthick-1-se {background-position: -48px -48px}
.ui-icon-arrowthick-1-s {background-position: -64px -48px}
.ui-icon-arrowthick-1-sw {background-position: -80px -48px}
.ui-icon-arrowthick-1-w {background-position: -96px -48px}
.ui-icon-arrowthick-1-nw {background-position: -112px -48px}
.ui-icon-arrowthick-2-n-s {background-position: -128px -48px}
.ui-icon-arrowthick-2-ne-sw {background-position: -144px -48px}
.ui-icon-arrowthick-2-e-w {background-position: -160px -48px}
.ui-icon-arrowthick-2-se-nw {background-position: -176px -48px}
.ui-icon-arrowthickstop-1-n {background-position: -192px -48px}
.ui-icon-arrowthickstop-1-e {background-position: -208px -48px}
.ui-icon-arrowthickstop-1-s {background-position: -224px -48px}
.ui-icon-arrowthickstop-1-w {background-position: -240px -48px}
.ui-icon-arrowreturnthick-1-w {background-position: 0 -64px}
.ui-icon-arrowreturnthick-1-n {background-position: -16px -64px}
.ui-icon-arrowreturnthick-1-e {background-position: -32px -64px}
.ui-icon-arrowreturnthick-1-s {background-position: -48px -64px}
.ui-icon-arrowreturn-1-w {background-position: -64px -64px}
.ui-icon-arrowreturn-1-n {background-position: -80px -64px}
.ui-icon-arrowreturn-1-e {background-position: -96px -64px}
.ui-icon-arrowreturn-1-s {background-position: -112px -64px}
.ui-icon-arrowrefresh-1-w {background-position: -128px -64px}
.ui-icon-arrowrefresh-1-n {background-position: -144px -64px}
.ui-icon-arrowrefresh-1-e {background-position: -160px -64px}
.ui-icon-arrowrefresh-1-s {background-position: -176px -64px}
.ui-icon-arrow-4 {background-position: 0 -80px}
.ui-icon-arrow-4-diag {background-position: -16px -80px}
.ui-icon-extlink {background-position: -32px -80px}
.ui-icon-newwin {background-position: -48px -80px}
.ui-icon-refresh {background-position: -64px -80px}
.ui-icon-shuffle {background-position: -80px -80px}
.ui-icon-transfer-e-w {background-position: -96px -80px}
.ui-icon-transferthick-e-w {background-position: -112px -80px}
.ui-icon-folder-collapsed {background-position: 0 -96px}
.ui-icon-folder-open {background-position: -16px -96px}
.ui-icon-document {background-position: -32px -96px}
.ui-icon-document-b {background-position: -48px -96px}
.ui-icon-note {background-position: -64px -96px}
.ui-icon-mail-closed {background-position: -80px -96px}
.ui-icon-mail-open {background-position: -96px -96px}
.ui-icon-suitcase {background-position: -112px -96px}
.ui-icon-comment {background-position: -128px -96px}
.ui-icon-person {background-position: -144px -96px}
.ui-icon-print {background-position: -160px -96px}
.ui-icon-trash {background-position: -176px -96px}
.ui-icon-locked {background-position: -192px -96px}
.ui-icon-unlocked {background-position: -208px -96px}
.ui-icon-bookmark {background-position: -224px -96px}
.ui-icon-tag {background-position: -240px -96px}
.ui-icon-home {background-position: 0 -112px}
.ui-icon-flag {background-position: -16px -112px}
.ui-icon-calendar {background-position: -32px -112px}
.ui-icon-cart {background-position: -48px -112px}
.ui-icon-pencil {background-position: -64px -112px}
.ui-icon-clock {background-position: -80px -112px}
.ui-icon-disk {background-position: -96px -112px}
.ui-icon-calculator {background-position: -112px -112px}
.ui-icon-zoomin {background-position: -128px -112px}
.ui-icon-zoomout {background-position: -144px -112px}
.ui-icon-search {background-position: -160px -112px}
.ui-icon-wrench {background-position: -176px -112px}
.ui-icon-gear {background-position: -192px -112px}
.ui-icon-heart {background-position: -208px -112px}
.ui-icon-star {background-position: -224px -112px}
.ui-icon-link {background-position: -240px -112px}
.ui-icon-cancel {background-position: 0 -128px}
.ui-icon-plus {background-position: -16px -128px}
.ui-icon-plusthick {background-position: -32px -128px}
.ui-icon-minus {background-position: -48px -128px}
.ui-icon-minusthick {background-position: -64px -128px}
.ui-icon-close {background-position: -80px -128px}
.ui-icon-closethick {background-position: -96px -128px}
.ui-icon-key {background-position: -112px -128px}
.ui-icon-lightbulb {background-position: -128px -128px}
.ui-icon-scissors {background-position: -144px -128px}
.ui-icon-clipboard {background-position: -160px -128px}
.ui-icon-copy {background-position: -176px -128px}
.ui-icon-contact {background-position: -192px -128px}
.ui-icon-image {background-position: -208px -128px}
.ui-icon-video {background-position: -224px -128px}
.ui-icon-script {background-position: -240px -128px}
.ui-icon-alert {background-position: 0 -144px}
.ui-icon-info {background-position: -16px -144px}
.ui-icon-notice {background-position: -32px -144px}
.ui-icon-help {background-position: -48px -144px}
.ui-icon-check {background-position: -64px -144px}
.ui-icon-bullet {background-position: -80px -144px}
.ui-icon-radio-off {background-position: -96px -144px}
.ui-icon-radio-on {background-position: -112px -144px}
.ui-icon-pin-w {background-position: -128px -144px}
.ui-icon-pin-s {background-position: -144px -144px}
.ui-icon-play {background-position: 0 -160px}
.ui-icon-pause {background-position: -16px -160px}
.ui-icon-seek-next {background-position: -32px -160px}
.ui-icon-seek-prev {background-position: -48px -160px}
.ui-icon-seek-end {background-position: -64px -160px}
.ui-icon-seek-first {background-position: -80px -160px}
.ui-icon-stop {background-position: -96px -160px}
.ui-icon-eject {background-position: -112px -160px}
.ui-icon-volume-off {background-position: -128px -160px}
.ui-icon-volume-on {background-position: -144px -160px}
.ui-icon-power {background-position: 0 -176px}
.ui-icon-signal-diag {background-position: -16px -176px}
.ui-icon-signal {background-position: -32px -176px}
.ui-icon-battery-0 {background-position: -48px -176px}
.ui-icon-battery-1 {background-position: -64px -176px}
.ui-icon-battery-2 {background-position: -80px -176px}
.ui-icon-battery-3 {background-position: -96px -176px}
.ui-icon-circle-plus {background-position: 0 -192px}
.ui-icon-circle-minus {background-position: -16px -192px}
.ui-icon-circle-close {background-position: -32px -192px}
.ui-icon-circle-triangle-e {background-position: -48px -192px}
.ui-icon-circle-triangle-s {background-position: -64px -192px}
.ui-icon-circle-triangle-w {background-position: -80px -192px}
.ui-icon-circle-triangle-n {background-position: -96px -192px}
.ui-icon-circle-arrow-e {background-position: -112px -192px}
.ui-icon-circle-arrow-s {background-position: -128px -192px}
.ui-icon-circle-arrow-w {background-position: -144px -192px}
.ui-icon-circle-arrow-n {background-position: -160px -192px}
.ui-icon-circle-zoomin {background-position: -176px -192px}
.ui-icon-circle-zoomout {background-position: -192px -192px}
.ui-icon-circle-check {background-position: -208px -192px}
.ui-icon-circlesmall-plus {background-position: 0 -208px}
.ui-icon-circlesmall-minus {background-position: -16px -208px}
.ui-icon-circlesmall-close {background-position: -32px -208px}
.ui-icon-squaresmall-plus {background-position: -48px -208px}
.ui-icon-squaresmall-minus {background-position: -64px -208px}
.ui-icon-squaresmall-close {background-position: -80px -208px}
.ui-icon-grip-dotted-vertical {background-position: 0 -224px}
.ui-icon-grip-dotted-horizontal {background-position: -16px -224px}
.ui-icon-grip-solid-vertical {background-position: -32px -224px}
.ui-icon-grip-solid-horizontal {background-position: -48px -224px}
.ui-icon-gripsmall-diagonal-se {background-position: -64px -224px}
.ui-icon-grip-diagonal-se {background-position: -80px -224px}
  .ui-corner-tl {-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px}
.ui-corner-tr {-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px}
.ui-corner-bl {-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px}
.ui-corner-br {-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px}
.ui-corner-top {-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px}
.ui-corner-bottom {-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px}
.ui-corner-right {-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px}
.ui-corner-left {-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px}
.ui-corner-all {-moz-border-radius: 3px; -webkit-border-radius: 3px}
 .ui-widget-overlay {background: #444444 url(./images/ui-bg_diagonals-thick_15_444444_40x40.png) 50% 50% repeat; opacity: .30;filter:Alpha(Opacity=30)}
*/ .ui-widget-shadow {margin: 4px 0 0 4px; padding: 0px; background: #aaaaaa url(./images/ui-bg_diagonals-small_0_aaaaaa_40x40.png) 50% 50% repeat; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 4px; -webkit-border-radius: 4px}
.ui-accordion .ui-accordion-header {cursor: pointer; position: relative; margin-top: 1px; zoom: 1}
.ui-accordion .ui-accordion-li-fix {display: inline}
.ui-accordion .ui-accordion-header-active {border-bottom: 0 !important}
.ui-accordion .ui-accordion-header a {display: block; font-size: 1em; padding: .5em .5em .5em 2.2em}
.ui-accordion .ui-accordion-header .ui-icon {position: absolute; left: .5em; top: 50%; margin-top: -8px}
.ui-accordion .ui-accordion-content {padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none}
.ui-accordion .ui-accordion-content-active {display: block}
.ui-datepicker {width: 17em; padding: .2em .2em 0}
.ui-datepicker .ui-datepicker-header {position:relative; padding:.2em 0}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute; top: 2px; width: 1.8em; height: 1.8em}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {top: 1px}
.ui-datepicker .ui-datepicker-prev {left:2px}
.ui-datepicker .ui-datepicker-next {right:2px}
.ui-datepicker .ui-datepicker-prev-hover {left:1px}
.ui-datepicker .ui-datepicker-next-hover {right:1px}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px}
.ui-datepicker .ui-datepicker-title {margin: 0 2.3em; line-height: 1.8em; text-align: center}
.ui-datepicker .ui-datepicker-title select {float:left; font-size:1em; margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {float: right}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em}
.ui-datepicker th {padding: .7em .3em; text-align: center; font-weight: bold; border: 0}
.ui-datepicker td {border: 0; padding: 1px}
.ui-datepicker td span, .ui-datepicker td a {display: block; padding: .2em; text-align: right; text-decoration: none}
.ui-datepicker .ui-datepicker-buttonpane {background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0}
.ui-datepicker .ui-datepicker-buttonpane button {float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left}
 .ui-datepicker.ui-datepicker-multi {width:auto}
.ui-datepicker-multi .ui-datepicker-group {float:left}
.ui-datepicker-multi .ui-datepicker-group table {width:95%; margin:0 auto .4em}
.ui-datepicker-multi-2 .ui-datepicker-group {width:50%}
.ui-datepicker-multi-3 .ui-datepicker-group {width:33.3%}
.ui-datepicker-multi-4 .ui-datepicker-group {width:25%}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {border-left-width:0}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width:0}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear:left}
.ui-datepicker-row-break {clear:both; width:100%}
 .ui-datepicker-rtl {direction: rtl}
.ui-datepicker-rtl .ui-datepicker-prev {right: 2px; left: auto}
.ui-datepicker-rtl .ui-datepicker-next {left: 2px; right: auto}
.ui-datepicker-rtl .ui-datepicker-prev:hover {right: 1px; left: auto}
.ui-datepicker-rtl .ui-datepicker-next:hover {left: 1px; right: auto}
.ui-datepicker-rtl .ui-datepicker-buttonpane {clear:right}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {float: left}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {float:right}
.ui-datepicker-rtl .ui-datepicker-group {float:right}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {border-right-width:0; border-left-width:1px}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width:0; border-left-width:1px}
 .ui-datepicker-cover {display: none;  display: block;  position: absolute;  z-index: -1;  filter: mask();  top: -4px;  left: -4px;  width: 200px;  height: 200px;  }
.ui-dialog {position: relative; padding: .2em; width: 300px}
.ui-dialog .ui-dialog-titlebar {padding: .5em .3em .3em 1em; position: relative}
.ui-dialog .ui-dialog-title {float: left; margin: .1em 0 .2em}
.ui-dialog .ui-dialog-titlebar-close {position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px}
.ui-dialog .ui-dialog-titlebar-close span {display: block; margin: 1px}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding: 0}
.ui-dialog .ui-dialog-content {border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1}
.ui-dialog .ui-dialog-buttonpane {text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane button {float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible}
.ui-dialog .ui-resizable-se {width: 14px; height: 14px; right: 3px; bottom: 3px}
.ui-draggable .ui-dialog-titlebar {cursor: move}
 .ui-progressbar {height:2em; text-align: left}
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%}
.ui-resizable {position: relative;}
.ui-resizable-handle {position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {display: none}
.ui-resizable-n {cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px}
.ui-resizable-s {cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px}
.ui-resizable-e {cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%}
.ui-resizable-w {cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%}
.ui-resizable-se {cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px}
.ui-resizable-sw {cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px}
.ui-resizable-nw {cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px}
.ui-resizable-ne {cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-slider {position: relative; text-align: left}
.ui-slider .ui-slider-handle {position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default}
.ui-slider .ui-slider-range {position: absolute; z-index: 1; font-size: .7em; display: block; border: 0}
.ui-slider-horizontal {height: .8em}
.ui-slider-horizontal .ui-slider-handle {top: -.3em; margin-left: -.6em}
.ui-slider-horizontal .ui-slider-range {top: 0; height: 100%}
.ui-slider-horizontal .ui-slider-range-min {left: 0}
.ui-slider-horizontal .ui-slider-range-max {right: 0}
.ui-slider-vertical {width: .8em; height: 100px}
.ui-slider-vertical .ui-slider-handle {left: -.3em; margin-left: 0; margin-bottom: -.6em}
.ui-slider-vertical .ui-slider-range {left: 0; width: 100%}
.ui-slider-vertical .ui-slider-range-min {bottom: 0}
.ui-slider-vertical .ui-slider-range-max {top: 0}
.ui-tabs {padding: .2em; zoom: 1}
.ui-tabs .ui-tabs-nav {list-style: none; position: relative; padding: .2em .2em 0}
.ui-tabs .ui-tabs-nav li {position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0}
.ui-tabs .ui-tabs-nav li a {float: left; text-decoration: none; padding: .5em 1em}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {padding-bottom: 1px; border-bottom-width: 0}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {cursor: text}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {cursor: pointer}
 .ui-tabs .ui-tabs-panel {padding: 1em 1.4em; display: block; border-width: 0; background: none}
.ui-tabs .ui-tabs-hide {display: none !important}
.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
.ui-dialog {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; font-family: Verdana, Arial, sans-serif; font-size: 1.1em; background: #ffffff url(../images/ffffff_40x100_textures_01_flat_0.png) 0 0 repeat-x; color: #222222; border: 4px solid #dddddd; position: relative}
.ui-dialog.ui-draggable .ui-dialog-titlebar {cursor: move; cursor: move}
.ui-resizable-handle {position: absolute; font-size: 0.1px; z-index: 99999}
.ui-resizable .ui-resizable-handle {display: block}
body .ui-resizable-disabled .ui-resizable-handle {display: none}
body .ui-resizable-autohide .ui-resizable-handle {display: none}
.ui-resizable-n {cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px}
.ui-resizable-s {cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px}
.ui-resizable-e {cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%}
.ui-resizable-w {cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%}
.ui-resizable-se {cursor: se-resize; width: 13px; height: 13px; right: 0px; bottom: 0px; background: url(../images/222222_11x11_icon_resize_se.gif) no-repeat 0 0}
.ui-resizable-sw {cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px}
.ui-resizable-nw {cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px}
.ui-resizable-ne {cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px}
.ui-dialog-titlebar {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; padding: .5em 1.5em .5em 1em; color: #555555; background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x; border-bottom: 1px solid #d3d3d3; font-size: 1em; font-weight: normal; position: relative}
.ui-dialog-titlebar-close {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; background: url(../images/888888_11x11_icon_close.gif) 0 0 no-repeat; position: absolute; right: 8px; top: .7em; width: 11px; height: 11px; z-index: 100}
.ui-dialog-titlebar-close:hover {background: url(../images/454545_11x11_icon_close.gif) 0 0 no-repeat}
.ui-dialog-titlebar-close:active {background: url(../images/222222_11x11_icon_close.gif) 0 0 no-repeat}
.ui-dialog-titlebar-close span {display: none}
.ui-dialog-titlebar-close-hover {background: url(../images/454545_11x11_icon_close.gif) 0 0 no-repeat}
.ui-dialog-content {margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; color: #222222; padding: 1.5em 1.7em}
.ui-dialog-buttonpane {position: absolute; bottom: 0; width: 100%; text-align: left; border-top: 1px solid #dddddd; background: #ffffff}
.ui-dialog-buttonpane button {margin: .5em 0 .5em 8px; color: #555555; background: #e6e6e6 url(../images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x; font-size: 1em; border: 1px solid #d3d3d3; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em}
.ui-dialog-buttonpane button:hover {color: #212121; background: #dadada url(../images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x; border: 1px solid #999999}
.ui-dialog-buttonpane button:active {color: #222222; background: #ffffff url(../images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x; border: 1px solid #dddddd}
  ul#nav {padding: 10px 20px; background-color: #EBEBEB; border: 1px solid black; text-decoration: none; list-style-type: none; font-size: 20px}
 ul#nav li {padding: 4px}
 * {margin: 0; padding: 0}
 .clear {clear: both; height: 0}
 h1 {margin: 15px 0; font-size: 22px; font-weight: normal}
 h2 {font-size: 22px; margin: 15px 0; font-weight: normal}
 h3 {font-size: 18px; margin: 10px 0; font-weight: normal}
 h4 {font-size: 16px; margin: 10px 0; font-weight: normal}
 hr {height: 1px; border: 0}
 p {margin: 15px 0}
 a img {border: none}
 body {font-size: 12px; font-family: sans-serif}
 #container {min-width: 960px}
 #header, #wrapper {padding: 0 20px}
 #header {position: relative; padding-top: 1px}
 #header h1 {margin: 0; padding: 10px 0; font-size: 30px}
 #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {text-decoration: none}
 #main {width: 70%; float: left}
 .actions-bar {padding: 10px 1px}
 .actions-bar .actions {float: left}
 .actions-bar .pagination {float: right; padding: 1px 0}
 #sidebar {width: 25%; float: right}
 #sidebar h3 {padding: 10px 15px; margin: 0; font-size: 13px}
 #sidebar .block {margin-bottom: 20px; padding-bottom: 10px}
 #sidebar .block .content {padding: 0 15px}
 #sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {display: block; padding: 10px 15px}
 #sidebar .block .sidebar-block, #sidebar .notice, #sidebar .help {padding: 10px}
 #sidebar .help h4 {margin: 5px 0; font-size: 17px; font-weight: bold}
 #wrapper {padding-top: 20px}
 #main .block {margin-bottom: 20px; padding-top: 1px}
 #main .block .content .inner {padding: 0 15px 15px}
 #main .main p.first {margin-top: 0}
 #user-navigation {position: absolute; top: 0px; right: 20px}
 #main-navigation {width: 100%}
 #user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {margin: 0; padding: 0; list-style-type: none}
 #user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {float: left}
 #main-navigation ul li {margin-right: 5px}
 #user-navigation ul li {padding: 5px 10px}
 #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {text-decoration: none}
 .secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {text-decoration: none}
 .secondary-navigation .navtitle {float: left; padding: 0px 15px; font-weight: bold; font-size: 24px; font-family: Trebuchet MS, Helvetica, sans-serif; margin-top: -4px}
 #main .content .secondary-navigation .navtitle {text-transform: capitalize; line-height: 14px; margin-top: 8px}
 #user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {text-decoration: none}
 #main-navigation ul li a {font-size: 15px; display: block; padding: 8px 15px}
 .secondary-navigation {font-size: 13px; border-bottom-width: 10px; border-bottom-style: solid; padding-top: 2px}
 .secondary-navigation ul li a {display: block; padding: 10px 15px}
 #footer {padding-bottom: 20px}
 .pagination a {padding: 2px 5px; margin-right: 5px; display: block; float: left; border-style: solid; border-width: 1px}
 .pagination span {padding: 2px 5px; margin-right: 5px; display: block; float: left; border-style: solid; border-width: 1px}
 .pagination span.current {font-weight: bold}
 .pagination a {text-decoration: none}
 .title .counter {font-size: 25px; color: #666; display: inline}
 .table {width: 100%; border-collapse: collapse; margin-bottom: 15px}
 .table th {padding: 10px; font-weight: bold; text-align: left}
 .table th.first {width: 30px}
 .table th.last {width: 200px}
 .table .checkbox {margin-left: 10px}
 .table td {padding: 10px}
 .table td.last {text-align: right}
 input.checkbox {margin: 0; padding: 0}
 .form .group {margin-bottom: 15px}
 .form div.left {width: 20%; float: left}
 .form div.right {width: 75%; float: right}
 .form .columns .column {width: 48%}
 .form .columns .left {float: left}
 .form .columns .right {float: right}
 .form label.label, .form input.text_field, .form textarea.text_area {font-size: 1.2em; padding: 1px 0; margin: 0}
 .form label.right {text-align: right}
 .form input.checkbox, .form input.radio {margin-right: 5px}
 .form label.checkbox, .form label.radio {line-height: 1.5em}
 .form label.label {display: block; padding-bottom: 2px; font-weight: bold}
 .form div.fieldWithErrors label.label {display: inline}
 .form .fieldWithErrors .error {color: red}
 .form input.text_field, .form textarea.text_area {width: 100%; border-width: 1px; border-style: solid}
 ul.list {margin: 0; padding: 0; list-style-type: none}
 ul.list li {clear: left; padding-bottom: 5px}
 ul.list li .left {float: left}
 ul.list li .left .avatar {width: 50px; height: 50px}
 ul.list li .item {margin-left: 80px}
 ul.list li .item .avatar {float: left; margin: 0 5px 5px 0; width: 30px; height: 30px}
 #box {width: 500px; margin: 50px auto}
 #box .block {margin-bottom: 20px}
 #box .block h2 {padding: 10px 15px; margin: 0}
 #box .block .content {padding: 10px 20px}
 #additional_info, .additional_info {margin-top: 10px}
 #help_us {float: right; padding: 0 10px; font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 18px; font-weight: bold}
 .microblogging {float: left; margin: 5px 5px 5px 0px}
 .video_thumbnail {width: 130px; height: 97px}
 .thumb {position: relative}
 .play_button {opacity: 0.7; position: absolute; left: 50px; top: 35px; border: medium none}
 .highlight {background: #FFFFE3}
 ol.manage-domain {margin-left: 3em; margin-bottom: 2em}
 ol.manage-domain li {font-size: 18px}
 .clear {clear: both; height: 0}
 .hide {display: none}
 .left {float: left}
 .right {float: right}
 .italic {font-style: italic !important; display: inline}
 .bold {font-weight: bold !important; display: inline}
 a.tag {display: inline; margin: 2px; padding: 2px 4px; background-color: #EBEBEB; color: #445566; font-weight: bold; font-size: 10px}
 a.tag:hover {background-color: #9CC3EA}
 .inline {display: inline}
 .bignum {font-size: 36pt; color: #888; line-height: 25px; margin-bottom: 10px; margin-top: 10px}
 #main-bar.questions ul li.questions a, #main-bar.users ul li.users a, #main-bar.badges ul li.badges a, #main-bar.tags ul li.tags a, #main-bar.unanswered ul li.unanswered a, #main-bar.dashboard ul li.dashboard a, #main-bar.widgets ul li.widgets a, #main-bar.ads ul li.ads a, #main-bar.members ul li.members a, #main-bar.properties ul li.properties a, #main-bar.stats ul li.stats a, #main-bar.actions ul li.actions a, #main-bar.content ul li.content a, #main-bar.theme ul li.theme a, #main-bar.reputation ul li.reputation a {background: #b0b0b0; color: #333}
 .secondary-navigation.votes ul li.votes a, .secondary-navigation.newest ul li.newest a, .secondary-navigation.oldest ul li.oldest a, .secondary-navigation.activity ul li.activity a, .secondary-navigation.hot ul li.hot a, .secondary-navigation.mytags ul li.mytags a, .secondary-navigation.questions ul li.questions a, .secondary-navigation.expert ul li.expert a, .secondary-navigation.answers ul li.answers a, .secondary-navigation.question_help ul li.question_help a, .secondary-navigation.question_prompt ul li.question_prompt a, .secondary-navigation.head_tag ul li.head_tag a, .secondary-navigation.head ul li.head a, .secondary-navigation.rewards ul li.rewards a, .secondary-navigation.constrains ul li.constrains a {background: #b0b0b0; color: #333}
 .ac_results {padding: 0px; border: 1px solid black; background-color: white; overflow: hidden; z-index: 99999}
 .ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0}
 .ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden}
 .ac_loading {background: white url('/images/indicator.gif') right center no-repeat}
 .ac_odd {background-color: #eee}
 .ac_over {background-color: #0A246A; color: white}
 .feeds .feed_entry {display: block; margin-bottom: 4px}
 .feeds .feed_entry a {font-size: 14px; color: #666; text-decoration: none}
 .feeds .feed_entry a span {margin-bottom: -4px}
 .feeds .feed_entry a:hover {text-decoration: underline}
 .markdown {font-size: 14px; color: #222}
 .markdown strong {font-weight: bold}
 .markdown em {font-style: italic}
 .markdown ul {list-style: disc outside; padding: 4px}
 .markdown ol {list-style: decimal outside; padding: 4px}
 .markdown li {margin-left: 1.3em; padding-left: 0.5em; font-weight: normal; font-size: 14px}
 .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; color: #000; font-weight: bold}
 .markdown h1 {font-size: 20px}
 .markdown h2 {font-size: 18px}
 .markdown h3 {font-size: 16px}
 .markdown h4 {font-size: 14px}
 .markdown h5 {font-size: 14px}
 .markdown code {width: 80%; padding: 5px; margin: 0.5em 1em; background-color: #ddd; display: block; white-space: pre-wrap}
 .markdown blockquote {margin: 0.5em 1em}
 .markdown_toolbar {position: relative; list-style: none; border: 1px solid #d7d7d7; background-color: #F6F6F6; margin: 0; padding: 0; height: 18px; margin-bottom: 2px}
 .markdown_toolbar li {list-style: none; margin: 0; padding: 0; float: left}
 .markdown_toolbar li a {width: 24px; height: 16px; float: left; display: block; background-image: url("/images/markdown_icons.gif"); border: 1px solid #fff; border-right-color: #d7d7d7}
 .markdown_toolbar li a:hover {border-color: #900}
 .markdown_toolbar li span {display: none}
 .markdown_toolbar li a#markdown_help_button {position: absolute; top: 0; rightright: 0; border-left-color: #d7d7d7; border-right-color: #fff}
 .markdown_toolbar li a#markdown_help_button:hover {border-left-color: #900; border-right-color: #900}
 #markdown_italics_button {background-position: 0 -119px}
 #markdown_bold_button {background-position: 0 -102px}
 #markdown_link_button {background-position: 0 0}
 #markdown_image_button {background-position: 0 -170px}
 #markdown_unordered_list_button {background-position: 0 -34px}
 #markdown_ordered_list_button {background-position: 0 -51px}
 #markdown_quote_button {background-position: 0 -68px}
 #markdown_code_button {background-position: 0 -136px}
 #markdown_help_button {background-position: 0 -153px}
 #markdown_heading_button {background-position: 0 -85px}
 .resizeHandle {overflow: hidden; width: 22px; height: 5px; margin-left: auto; margin-right: auto; background-image: url(/images/handle.png); cursor: n-resize}
 .errorExplanation {margin-bottom: 10px; padding: 10px}
 .errorExplanation ul {list-style-type: none}
 .errorExplanation ul li {padding-left: 20px; font-size: 18px; font-weight: bold; color: #666}
 .fieldWithErrors {padding: 5px; background: #FFDDDD}
 ul.combobox {padding: 0; margin: 0; list-style: none; list-style-image: none; list-style-position: outside; list-style-type: none; display: inline}
 ul.combobox li {float: left; margin-right: 0.7em}
 ul.combobox li:hover ul {left: auto; z-index: 2}
 ul.combobox li ul {background-color: black; display: block; position: absolute; width: 10em; left: -999em; list-style: none}
 ul.combobox li ul li {margin-left: 0; width: 100%}
 ul.combobox li ul li a {color: #666666; text-decoration: none; display: block}
 ul.combobox li:hover ul, ul.combobox li.sfhover ul {left: auto}
 .plans {height: 590px; width: 100%; margin-left: 20px; margin-top: 2.5em}
 .plan {width: 17.5%; text-align: center; border: 1px solid #434343; padding-top: 0.7em}
 .plan ul {border-top: 1px solid #434343}
 .plan ul li {list-style-type: none; margin-top: 1em}
 .plan .value {color: red; font-weight: bold; font-size: 15px}
 .plan .description {color: black; font-size: 14px}
 .center {text-align: center}
 .short {margin-top: 20px; height: 450px; background: #EFEFEF}
 .tall {border: 0px solid #3671A1; height: 490px; box-shadow: 0 0 1em 0.5em maroon; -moz-box-shadow: 0 0 1em 0.5em maroon; -webkit-box-shadow: 0 0 1em 0.5em maroon}
 .border-left {border-right: 0}
 .border-right {border-left: 0; margin-left: 0.9em}
 .free-offer {margin-top: 1.5em}
 a.sign_up {padding: 10px; margin-bottom: 15px; font-family: "Lucida Grande", Lucida, Arial, sans_serif; background: url('/images/button_bg.png?1261552856') repeat-x bottom left; margin: 0; width: auto; overflow: visible; display: inline-block; cursor: pointer; text-decoration: none; border-style: solid; font-weight: bold; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 18px; line-height: 21.6px; padding: 5px 18px; border-width: 1px; background-color: white; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(top, white 0%, #f0f0f0 100%); border-color: #d9d9d9; text-shadow: white 0px 1px 1px; color: #222222; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 15px; line-height: 18px; padding: 3px 12px; border-width: 1px}
 a.sign_up::-moz-focus-inner {border: none; padding: 0}
 a.sign_up:focus {outline: none}
 a.sign_up.disabled, a.sign_up[disabled] {opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: alpha(opacity=70)}
 a.sign_up.disabled:hover, a.sign_up.disabled:focus, a.sign_up[disabled]:hover, a.sign_up[disabled]:focus {cursor: default}
 a.sign_up:active {padding: 4px 17px; border-width: 2px}
 a.sign_up.disabled:active, a.sign_up[disabled] {padding: 5px 18px; border-width: 1px}
 a.sign_up.disabled:active, a.sign_up.disabled:hover, a.sign_up[disabled]:active, a.sign_up[disabled]:hover {background-color: white; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(top, white 0%, #f0f0f0 100%); border-color: #d9d9d9; text-shadow: white 0px 1px 1px; color: #222222}
 a.sign_up:hover, a.sign_up:focus {background-color: white; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #e8e8e8)); background-image: -moz-linear-gradient(top, white 0%, #e8e8e8 100%); border-color: #d1d1d1; text-shadow: white 0px 1px 1px; color: #222222}
 a.sign_up:active {background-color: white; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(40%, #f5f5f5), color-stop(85%, #f5f5f5), color-stop(100%, white)); background-image: -moz-linear-gradient(top, #eeeeee 0%, #f5f5f5 40%, #f5f5f5 85%, white 100%); border-color: #cacaca; text-shadow: white 0px -1px -1px; color: #222222}
 a.sign_up:active {padding: 2px 11px; border-width: 2px}
 a.sign_up.disabled:active, a.sign_up[disabled] {padding: 3px 12px; border-width: 1px}
 .bold {font-weight: bold}
 #messages li {list-style: none}
 textarea.text_area {height: 120px}
 #container #header h1 img {vertical-align: middle; height: 50px}
 a#create_own_site {padding: 10px; margin-bottom: 15px; font-family: "Lucida Grande", Lucida, Arial, sans_serif; background: url('/images/button_bg.png?1261552856') repeat-x bottom left; margin: 0; width: auto; overflow: visible; display: inline-block; cursor: pointer; text-decoration: none; border-style: solid; font-weight: bold; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 18px; line-height: 21.6px; padding: 5px 18px; border-width: 1px; background-color: #fdfdfd; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb)); background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%); border-color: #a4a4a4; text-shadow: white 0px 1px 1px; color: #222222; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; font-size: 15px; line-height: 18px; padding: 3px 12px; border-width: 1px; color: #00527E}
 a#create_own_site::-moz-focus-inner {border: none; padding: 0}
 a#create_own_site:focus {outline: none}
 a#create_own_site.disabled, a#create_own_site[disabled] {opacity: 0.7; -moz-opacity: 0.7; -khtml-opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: alpha(opacity=70)}
 a#create_own_site.disabled:hover, a#create_own_site.disabled:focus, a#create_own_site[disabled]:hover, a#create_own_site[disabled]:focus {cursor: default}
 a#create_own_site:active {padding: 4px 17px; border-width: 2px}
 a#create_own_site.disabled:active, a#create_own_site[disabled] {padding: 5px 18px; border-width: 1px}
 a#create_own_site.disabled:active, a#create_own_site.disabled:hover, a#create_own_site[disabled]:active, a#create_own_site[disabled]:hover {background-color: #fdfdfd; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #bbbbbb)); background-image: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%); border-color: #a4a4a4; text-shadow: white 0px 1px 1px; color: #222222}
 a#create_own_site:hover, a#create_own_site:focus {background-color: #f5f5f5; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #b3b3b3)); background-image: -moz-linear-gradient(top, #e8e8e8 0%, #b3b3b3 100%); border-color: #9c9c9c; text-shadow: white 0px 1px 1px; color: #222222}
 a#create_own_site:active {background-color: #eeeeee; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b9b9b9), color-stop(40%, silver), color-stop(85%, silver), color-stop(100%, #d2d2d2)); background-image: -moz-linear-gradient(top, #b9b9b9 0%, silver 40%, silver 85%, #d2d2d2 100%); border-color: #959595; text-shadow: white 0px -1px -1px; color: #222222}
 a#create_own_site:active {padding: 2px 11px; border-width: 2px}
 a#create_own_site.disabled:active, a#create_own_site[disabled] {padding: 3px 12px; border-width: 1px}
 #main-doc {background-color: white; text-align: center; padding-top: 1em}
 .beta_info {font-weight: bold}
body {font: 14px 'Arial'}
#openid {background: url(../img/indicator.gif) center center no-repeat; margin: 0 auto; width: 440px; height: 162px}
#openid_inputarea {clear: both; display: none; background: url(../img/balloon.png) no-repeat; width: 410px; height: 48px; color: white; text-align: center; margin-top: 35px; padding-top: 17px}
#openid_inputarea #openid_username {margin: 0 4px 0 8px; width: 120px}
#openid_btns, #openid_btns br {clear: both}
#openid_highlight {-moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 2px; background-color: #FFFCC9; float: left}
.openid_large_btn, .openid_small_btn {background: url(../img/openid-icons.png) no-repeat; margin: 3px; float: left}
.openid_large_btn {width: 91px; height: 51px}
.openid_small_btn {width: 16px; height: 16px}
.Google {background-position: 0 0}
.Yahoo {background-position: 0 -51px}
.AOL {background-position: 0 -102px}
.OpenID {background-position: 0 -153px}
.MyOpenID {background-position: 0 -204px}
.Flickr {background-position: 0 -220px}
.Technorati {background-position: -17px -220px}
.Wordpress {background-position: -17px -204px}
.Blogger {background-position: -34px -204px}
.Verisign {background-position: -51px -220px}
.Vidoop {background-position: -34px -220px}
.ClaimID {background-position: -68px -204px}
.LiveJournal {background-position: -51px -204px}
.MySpace {background-position: -68px -220px}
a.openid_large_btn:focus {outline: none; -moz-outline-style: none}