
-@group.reputation_constrains.sort.each do |key, value|
  .group
    -name = "group[reputation_constrains[#{key}]]"
    =label_tag name, Group.humanize_reputation_constrain(key), :class => "label"
    =text_field_tag name, value, :class => "text_field"
