
%h2
  Request your group

-form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  .buttons
    = f.submit 'Create'
    = link_to 'Back', groups_path, :class => "cancel button"
