-bronze, silver, gold = user.badges_count_on(current_group)

%span.fn.nickname
  -unless user.nil?
    =link_to h(user.login), user_path(user), :class => "user-link"
    -if user.owner_of?(current_group)
      %span.ownerflair{:title => "admin"}
        &#x2747;
    -elsif user.mod_of?(current_group)
      %span.modflair{:title => "moderator"}
        &#x273F;
    -elsif user.editor_of?(current_group)
      %span.editorflair{:title => "editor"}
        &#x270E;
  -else
    = t('users.deleted')

%span.reputation{:title => t("activerecord.attributes.user.reputation")}
  -unless user.nil?
    =user.reputation_on(current_group)

-if local_assigns[:with_badges] != false
  -if gold.to_i > 0
    %span{:title => "#{gold} gold badges"}
      %span.gold.badgeicon
      %span.badgecount
        =gold

  -if silver.to_i > 0
    %span{:title => "#{silver} silver badges"}
      %span.silver.badgeicon
      %span.badgecount
        =silver

  -if bronze.to_i > 0
    %span{:title => "#{bronze} bronze badges"}
      %span.bronze.badgeicon
      %span.badgecount
        =bronze
