-content_for :subtabs do
  .navtitle
    =t(".title")

-content_for :sidebar do
  -no_twitter = AppConfig.twitter["activate"] && (@user.twitter_token.blank? || @user.twitter_secret.blank?)
  -no_fb = AppConfig.enable_facebook_auth && @user.facebook_id.blank?

  -if no_fb || no_twitter
    .block.notice
      %h4
        Enable your facebook or twitter accounts

      -if no_fb
        =link_to t("sessions.new.with_facebook"), oauth_authorize_path(:merge => true), :title => "Facebook", :id => "facebook_auth"

      %br
      %br

      -if no_twitter
        =link_to t("sessions.new.with_twitter"), twitter_authorize_path(:merge => true), :title => "Twitter", :id => "twitter_auth"

- @user.password = @user.password_confirmation = nil
= error_messages_for :user
- form_for @user, :html => {:class => "form"} do |f|
  %h2.title
    = t("users.form.information")
  =render :partial => "form", :locals => {:f => f}
  .group.navform
    = submit_tag t('.submit')
