-content_for :subtabs do
  .navtitle
    = t(".title")

- @user.password = @user.password_confirmation = nil
= error_messages_for :user
- form_for @user, :url => users_path, :html => {:class => "form"} do |f|
  =render :partial => "form", :locals => {:f => f}
  .group.navform
    = submit_tag t('.submit')

