- if RAILS_ENV == "production" && !AppConfig.analytics_id.blank? && (!current_group.has_custom_analytics || current_group.analytics_id.blank?)
  %a#googlean{:href => AppConfig.analytics_id, :style => "display: none", :rel=>"nofollow" }
-elsif RAILS_ENV == "production" && current_group.has_custom_analytics && current_group.analytics_vendor == 'googlean'
  %a#googlean{:href => current_group.analytics_id, :style => "display: none", :rel=>"nofollow" }