
-unless self.current_tags.empty?
  .block
    %h3
      =t(".title")
    .content.tag-list
      -self.current_tags.each do |tag|
        %span.tag{:class => "tag_#{h(tag)}"}
          = link_to h(tag), url_for(:tags => tag), :rel => "tag", :title => t("questions.tags.tooltip", :tag => tag)
          -tags = (self.current_tags - [tag])
          -if tags.empty?
            = link_to "-", url_for, :class => "remove_tag"
          -else
            = link_to "-", url_for(:tags => tags.join("+")), :class => "remove_tag"
    .clear
