
-unless self.current_tags.empty?
  .block
    %h3
      =t(".title")
    .content.tag-list
      -self.current_tags.each do |tag|
        %span.tag
          = link_to h(tag), url_for(:language => current_languages, :tags => tag)
          = link_to "-", url_for(:language => current_languages, :tags => (self.current_tags - [tag]).join("+")), :class => "remove_tag"
    .clear
