- if RAILS_ENV == "production" && !AppConfig.googlean.empty?
  %a#googlean{:href => AppConfig.googlean, :style => "display: none"}
  =javascript_include_tag 'jquery.geekga-1.1.min.js'
  =javascript_include_tag 'modules/googlean'