%ul
  %li.properties
    =link_to t("layouts.manage.properties"), manage_properties_path
  %li.widgets
    =link_to t("layouts.manage.widgets"), widgets_path
  -if current_group.has_custom_html
    %li.content
      =link_to t("layouts.manage.content"), manage_content_path
  %li.announcements
    = link_to t("layouts.manage.announcements"), announcements_path

  -if current_group.has_custom_ads
    %li.ads
      =link_to t("layouts.application.manage_ads"), ads_path
  %li.members
    = link_to t("layouts.manage.members"), members_path
