%ul
  -#
    %li.dashboard
      =link_to t("layouts.manage.dashboard"), manage_dashboard_path
    %li.actions
      =link_to t("layouts.manage.actions"), manage_actions_path
    %li.stats
      =link_to t("layouts.manage.stats"), manage_stats_path
  %li.properties
    =link_to t("layouts.manage.properties"), manage_properties_path
  %li.domain
    =link_to t("layouts.manage.domain"), manage_domain_path
  %li.widgets
    =link_to t("layouts.manage.widgets"), widgets_path
  -if current_group.has_custom_html
    %li.content
      =link_to t("layouts.manage.content"), manage_content_path
  %li.pages
    = link_to t("layouts.manage.pages"), pages_path

  -if current_group.has_custom_ads
    %li.ads
      =link_to t("layouts.application.manage_ads"), ads_path
  %li.members
    = link_to t("layouts.manage.members"), members_path
