#top-bar
  -current_group.default_tags[0,5].each do |tag|
    .entry
      = link_to(tag, questions_url(:tags => tag), :rel => "tag")
      ==-
  -if current_group.default_tags.size > 5
    .entry
      = link_to t("scaffold.more"), tags_questions_path
  %div.right
    -if logged_in?
      -if !current_group.isolate && AppConfig.enable_groups
        .entry
          %ul.combobox
            %li
              =link_to h(current_group.name), groups_path
              %ul
                -current_user.groups(:select => [:name, :domain]).each do |group|
                  %li
                    =link_to h(group.name), domain_url(:custom => group.domain)
          |
      .entry
        = t(".logged_as", :login => link_to(h(current_user.login), user_path(current_user)))
        ==(#{format_number(current_user.reputation_on(current_group))})
        |
      .entry
        =link_to t("layouts.application.settings"), settings_path
        |
      .entry
        =link_to t("layouts.application.logout"), destroy_user_session_path
        |
    -else
      -if AppConfig.is_shapadocom && !current_group.isolate
        .entry
          =link_to t("doc.plans.plans"), domain_url(:custom => AppConfig.domain, :controller=>"doc",:action=>"plans")
          |
      .entry
        =link_to t("layouts.application.log_in"), new_user_session_path
        |
    .entry
      =link_to t("layouts.application.search"), search_path

  .clear
