%ul#top-bar
  -current_group.default_tags[0,7].each do |tag|
    %li
      = link_to(tag, questions_url(:language => current_languages, :tags => tag))
  -if current_group.default_tags.size > 7
    = link_to "more...", tags_questions_path(:language => current_languages)
  %ul.right
    -if logged_in?
      %li
        =link_to t("layouts.application.settings"), settings_path
        |
      %li
        =link_to t("layouts.application.logout"), logout_path
        |
    -else
      %li
        =link_to t("layouts.application.log_in"), login_path
        |
    %li
      =link_to 'Get the facts!', "/facts#facts"
      |
    %li
      =link_to t(".about", :default => :"groups.index.about"), about_path

.clear
