%ul
  %li.questions
    =link_to t("layouts.application.questions"), questions_path
  %li.tags
    =link_to t("layouts.application.tags"), tags_questions_path
  %li.users
    =link_to t("layouts.application.users"), users_path
  %li.badges
    =link_to t("layouts.application.badges"), badges_path
  %li.unanswered
    =link_to t("layouts.application.unanswered"), unanswered_questions_path
  %li.pages.last
    =link_to t("layouts.application.pages"), pages_path
  %li.ask_question
    =link_to t("layouts.application.ask_question"), new_question_path, :rel => 'nofollow'
