@import buttons
@import form
@import markdown
@import users_index
@import pagination
@import css3
@import compass/utilities/tables/scaffolding
@import compass/utilities/general/tag_cloud.sass
@import compass/utilities/lists/horizontal_list.sass
@import compass/utilities/links/unstyled_link.sass

body
  background: #fafafa
  color: #666
  font: normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif


.two-column
  padding: 5px

a, strong, b
  line-height: 17px

a:link, a:visited
  font-weight: bold
  color: #669933

a:hover, a:active
  color: #96a51e

.horizontal_list
  +horizontal-list(10px)

#adbar_container
  margin: auto
  text-align: center

.clear
  clear: both

.left
  float: left

.right
  float: right

strong, b
  line-height: 19px


abbr
  border-bottom: 1px dotted #b4b4b4
  cursor: help


.hidden
  display: none



img.group_logo
  height: 32px
  vertical-align: middle

#top_bar
  background: #F0F0F0
  line-height: 32px
  padding: 5px
  width: 100%

  a
    text-decoration: none

  #user-actions
    em.label
      color: #91ce9b
      font-size: .75em
      font-style: normal
      font-weight: bold
      margin-top: 35px
      text-transform: uppercase
      text-align: right

    p
      float: left
      margin: 0 3px

    em.helper
      font-size: .75em
      font-style: normal

  .buttons
    clear: none
    margin: 0px

    button
      float: none
      margin-left: 5px

  #action_menu
    +horizontal-list(4px)
    li
      border-right: 1px solid #ddd
      &.last
        border: 0px
      a
        text-transform: lowercase
    form
      padding: 3px

  #group_menu, #group_menu ul
    padding: 5px
    +horizontal-list(4px)
    li
      border-right: 1px solid #ddd
      &.last
        border: 0px
      a
        text-transform: lowercase

  #group_menu a
    text-decoration: none

  #group_menu li ul
    position: absolute
    left: -999em
    background: #FFFFFF
    border: 1px

  #group_menu li ul li
    clear: both
    border: 0px
    border-bottom: 1px solid #ddd
    width: 100%
    min-width: 80px
    &.last
      border: 0px
    a
      display: block
      padding: 5px

  #group_menu li:hover ul
    left: auto

  #group_menu li:hover ul, #menu_logo li.sfhover ul
    left: auto

#header
  h3
    color: #004281


input
  float: none

x
  &:-moz-any-link, &:default
    -moz-border-radius: 14px

#banner
  background: #86c340 url("/images/bg_banner.png") top center repeat-x
  border-top: 1px solid #6cbd92
  border-bottom: 1px solid #78af39

#wrapper
  background: #fff url("/images/bg.png") top center repeat-x


.home #wrapper
  padding-top: 20px


.tour #wrapper
  background: #000


#header
  margin: 0 10px
  position: relative



img.gravatar
  vertical-align: middle

h1, h2
  letter-spacing: -.05em
  line-height: 40px


h1
  color: #000
  font-size: 32px
  font-weight: bold

h2
  color: #666
  font-size: 28px
  font-weight: normal


h3
  color: #59892f
  font-size: 18px

  &.section
    border-top: 1px solid #eee
    clear: both
    color: #888
    font-size: .75em
    margin: 0 0 20px 0
    padding: 9px 0 10px 0
    text-transform: uppercase


.blog_post .copy h4
  border-top: 1px solid #eee
  clear: both
  color: #888
  font-size: .75em
  margin: 0 0 20px 0
  padding: 9px 0 10px 0
  text-transform: uppercase


h4
  color: #3f5c26
  font-size: 1em

  &.section
    border-top: 1px solid #eee
    clear: both
    color: #888
    font-size: .75em
    margin: 0 0 20px 0
    padding: 9px 0 10px 0
    text-transform: uppercase


h5
  color: #3f5c26
  font-size: 1em


h3 span, h4 span, h5 span
  font-weight: normal


input
  font: normal 1em 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding: 5px

  &:focus
    background: #fff


label.required
  font-weight: bold


#content
  label.error
    color: #d12f19
    font-size: 0.75em
    font-weight: bold

  input.error
    border-color: #fbc2c4


input.error:focus
  border-color: #fbc2c4


.odd
  background-color: #efefef


hr
  border: 0
  border-top: 1px solid #eee
  clear: both
  height: 0
  margin: 0


q, .pullquote
  color: #666
  font: italic 1em/20px Cambria, Georgia, Times, 'Times New Roman', serif


cite
  display: block
  font-style: normal
  font-weight: bold

  span
    font-weight: normal


#content p
  margin: 4px 0


.bulleted li
  list-style-type: disc
  margin-left: 1em


.newsletter
  .bulleted, .numbered
    margin-bottom: 20px


.numbered li
  list-style-type: decimal
  margin-left: 20px


.download
  background: transparent url("/images/icons/download_16x16.png") left center no-repeat
  padding-left: 20px


a.download
  &:hover, &:active
    background-image: url("/images/icons/download_16x16.png")
    background-position: left center
    background-repeat: no-repeat


.info
  background-color: #ecf8fa


.important
  margin-bottom: 0

  p
    font-size: 1.15em


#content .message p
  margin: 0


#errorExplanation
  background-color: #fbe3e4
  border: 1px solid #fbc2c4
  margin: 20px
  padding: 10px

  h3
    color: #260000
    margin-bottom: 10px

  p
    margin-bottom: 10px

  ul
    margin-bottom: 10px

    li
      float: none
      margin-bottom: 0
      padding: 0


#post_form .fieldWithErrors
  input, textarea
    border-color: #fbc2c4


#contact_form .fieldWithErrors
  input, textarea
    border-color: #fbc2c4

  #runner
    border-top: 1px solid #444
    clear: both
    color: #444
    margin-top: 20px
    padding-top: 19px

    .sitemap_primary, .sitemap_secondary, p
      text-align: right

    .sitemap_primary li, .sitemap_secondary li
      display: inline
      margin-left: 20px

    .sitemap_primary li a
      font-weight: normal

    #watermark
      padding: 7px 0

    .omega
      float: right

    #watermark img
      display: block

  #pitch a
    &:link, &:visited
      color: #666
      font-weight: normal

    &:hover, &:active
      color: #fff


blockquote
  cite
    margin-bottom: 20px

  em
    color: #b4b4b4
    font-style: normal
    font-weight: normal

#navigation
  #menu_primary
    ul
      list-style-type: none
      overflow: hidden
      margin: 0px
      li
        float: left
        margin-right: 10px
        margin-left: 0px
        a
          border-top: 1px solid #d4d4d4
          border-left: 1px solid #d4d4d4
          border-right: 1px solid #d4d4d4
          display: block
          font-size: .75em
          padding: 6px 20px
          text-align: center
          background: #FFF
          color: #999
          text-transform: uppercase
          text-decoration: none
        a:hover, a:focus, a:active
          color: #828282
          outline: none
        &.ask_question
          float: right
          a
            background: #004181
            color: #dedede

=active_tab
  background-color: #ddd
  color: #000


#navigation.questions #menu_primary ul li.selected a,
#navigation.questions #menu_primary ul li.questions a,
#navigation.ask_question #menu_primary ul li.ask_question a,
#navigation.tags #menu_primary ul li.tags a,
#navigation.unanswered #menu_primary ul li.unanswered a,
#navigation.users #menu_primary ul li.users a
  +active_tab

.subtitle
  color: #000
  font-size: 20px
  font-weight: bold
  border-bottom: 1px solid #999
  margin: 10px 0px
  .tabs
    .tab
      float: right
      margin-right: 8px
      margin-top: -1px
      a
        color: #828282
        text-decoration: none
        border-width: 1px
        border-style: solid solid none
        border-color: #999
        padding: 2px 10px
        font-size: 85%
      a:hover, a:focus, a:active
        color: #121314
        outline: none

=active_subtab
  color: #121314
  background-color: #fff
  border-bottom: 1px solid #fff

.subtitle#welcome.active .tabs .tab.active a,
.subtitle#welcome.hot .tabs .tab.hot a,
.subtitle#questions_index.active .tabs .tab.active a,
.subtitle#questions_index.newest .tabs .tab.newest a,
.subtitle#questions_index.hot .tabs .tab.hot a,
.subtitle#questions_index.votes .tabs .tab.votes a,
.subtitle#questions_index.mytags .tabs .tab.mytags a,

.subtitle#question_answers.newest .tabs .tab.newest a,
.subtitle#question_answers.oldest .tabs .tab.oldest a,
.subtitle#question_answers.votes .tabs .tab.votes a,

.subtitle#moderate.all .tabs .tab.all a,
.subtitle#moderate.questions .tabs .tab.questions a,
.subtitle#moderate.answers .tabs .tab.answers a,

.subtitle#groups.active .tabs .tab.active a,
.subtitle#groups.pending .tabs .tab.pending a,

.subtitle#show_groups.about .tabs .tab.about a,
.subtitle#show_groups.members .tabs .tab.members a
  +active_subtab

#system-msg
  background: #FFFCDE
  border: 1px solid #E1DCAA
  text-align: center

.message
  margin-bottom: 5px
  &.notice
    :background #E6EFC2
    :color #264409
    :border-color #C6D880
    a
      :color #264409
  &.error
    :background #FBE3E4
    :color #8a1f11
    :border-color #FBC2C4
    a
      :color #8a1f11
  &.warn
    :background #FFF6BF
    :color #514721
    :border-color #FFD324
    a
      :color #514721

#main-content
  background: #dfdfdf
  border-bottom: 1px solid #b4b4b4
  clear: both
  overflow: hidden
  padding: 9px

.box
  padding: 5px
  border: 1px solid #b4b4b4
  background: #F0F0F0
  &.highlight
    background: #E8E5B7

#layout
  background: #FFF

#content
  background: #FFF
  border-right: 1px solid #E6E6E6

#sidebar
  h1
    color: #456
    font-size: 24px
    font-weight: bold

  h2
    color: #456
    font-size: 20px
    font-weight: bold

  h3
    margin: 0px
    color: #456
    font-size: 18px
    font-weight: bold

.internal
  padding: 5px

#footer
  clear: both
  margin: 18px 0
  padding: 0 0 18px 0
  text-align: left
  p
    float: left
    margin: 0

    &.feedback
      float: right

    &#powered_by
      clear: both
      margin-bottom: 18px

  a:link, a:visited
    font-weight: bold
    color: #666

  em a:link, em a:visited
    font-style: normal
    color: #669933

  a:hover, em a:hover, a:active, em a:active
    color: #96a51e

.center
  text-align: center

table.list
  +table-scaffolding
  :width 100%

.vote_box
  border: 1px solid #d4d4d4
  +rounded(4px, 4px, 4px, 4px)
  font-size: 24px
  text-align: center
  vertical-align: middle
  margin: 5px 1%
  padding: 2px
  float: right
  button
    border: 0px
    background: #fff
    display: inline
    cursor: pointer
    &:hover
      background: #eef
  a
    font-size: 25px
    text-decoration: none

.item
  width: 48px
  height: 48px
  float: left
  margin-left: 5px
  text-align: center


.tag_cloud
  a.tag
    text-decoration: none
    line-height: 26px

=list_item
  padding: 10px 4px
  border-bottom: 1px solid #d4d4d4
  &:hover
    background: #ededff
    border-bottom: 1px solid #a4a4d4
  &.highlight
    background: #FFFFaa
    &:hover
      background: #ffffed
      border-bottom: 1px solid #a4a4d4

.list-item
  +list_item

#questions
  min-height: 10em

.questions_count
  font-weight: bolder
  font-size: 380%
  color: #ACACAC
  text-align: left

.question
  +list_item
  padding: 10px 4px
  .item
    font-size: 10px
    color: #999999
    padding: 4px
    font-weight: bold
    &.count_views
      background: #FFFFCC
    &.count_answers
      background: #CCFFCC
    &.count_votes
      background: #FFCCCC
    .counter
      color: #666
      font-size: 26px
      font-weight: bolder

  .question_header
    font-size: 20px
    margin-bottom: 6px

.tags-list
  font-size: .785em
  overflow: hidden
  line-height: 30px
  margin-top: 4px
  .tag
    margin-left: 3px
    display: inline
    overflow: hidden
    float: left
    a
      +rounded(4px, 0px, 4px, 0px)
      color: #666
      background: #DDDDEC
      cursor: pointer
      font-size: 100%
      font-weight: bold
      margin-bottom: 5px
      padding: 2px 8px
      text-align: center
      text-decoration: none
      text-transform: uppercase
      white-space: nowrap
      line-height: 12px
      &:hover
        color: #dedede
        background: #004181
      &.remove_tag
        background: #FFDDEC
        +rounded(4px, 4px, 4px, 4px)
        &:hover
          color: #ffdede
          background: #810000

a.feed_url
  background: #DEDEFE
  color: #666
  text-decoration: none
  font: normal 15px arial, sans-serif
  height: 54px
  display: block
  margin-right: 6px
  padding-top: 10px
  padding-right: 18px
  border-bottom: 2px #ACACAC solid
  border-right: 1px #ACACAC solid

  &:hover
    background: #D0D0EE

  span.icon
    width: 32px
    float: left
    padding: 5px 5px
    img:
      height: 100%

  span.text
    min-width: 145px
    padding: 8px 0 5px 1px
    text-align: center

table#pricing
  width: 100%
  th
    background-color: #B4B4B4
    text-align: center
    padding: 10px 0px
    color: #F6F6F6
    font-size: 13px
    font-weight: bold
    border: 1px white solid
  td
    padding-left: 4px
    border-bottom: 1px solid #DFDFDF
    padding-bottom: 0.25em
    padding-top: 0.25em
    text-align: center
    padding: 0.5em
    &.first
      font-weight: bold
      text-align: left

#facts
  text-align: center

.feedback
  font-size: 15px
  float: right
  border: #eee solid 1px
  padding: 4px
  background: #004181
  position: fixed
  left: 45%
  a
    color: #eee

.feedbackjs
  font-size: 15px
  border: #eee solid 1px
  padding: 4px
  margin: 0
  background: #004181
  float: right
  position: fixed
  top: 300px
  right: 0
  -moz-transform: rotate(270deg)
  -moz-transform-origin: right bottom
  -webkit-transform: rotate(270deg)
  -webkit-transform-origin: right bottom
  a
    color: #eee

.hide
  display: none

#feedbackform
  background: #FFFFFF
  margin-top: 2em


.ac_even
  background: #FFFFFF

.ac_odd
  background: #DFDFDF

.ac_over
  background: #1DC1E4