
@import compass/utilities/general/reset.sass
@import compass/utilities/lists/horizontal_list.sass


+global-reset

!ninesixty_columns = 24
.two-column
  min-width: 960px
  margin: auto
  #header
    width: 100%
    #logo
      margin-top: 10px
      float: left
    #user-actions
      margin-top: 10px
      float: right
      width: 26%
      margin-right: 10px
      ul
        +horizontal-list(5px)
  #sidebar
    width: 20%
    float: left
  #content
    float: left
    width: 78%
  #footer
    clear: both
    line-height: 1.5
    #cc
      line-height: 1.5
      margin-top: 60px
