- group = @resource.instance_variable_get("@group")
-domain = group ? "http://"+group.domain : root_url


%p
  Hello
  = @resource.email
  \!
%p
  Someone has requested a link to change your password, and you can do this through the link below.
%p
  = link_to 'Change my password', domain+edit_password_path(@resource, :reset_password_token => @resource.reset_password_token)
%p
  If you didn't request this, please ignore this email.
%p
  Your password won't change until you access the link above and create a new one.
