%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }

=javascript_include_tag "i18n/#{I18n.locale}"

=yield :head

-if current_group.has_custom_favicon?
  %link{:rel=>"icon", :type=>"image/png", :href=>favicon_group_path(current_group)}
-else
  %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.ico"}
=render :partial => "shared/layout/feeds"
