%h1
  Esta pagina puede contener información no apta para menores de edad. Si es usted mayor de edad, por favor de click en continuar.


=link_to "Cancelar", root_path, :class => "cancel"
=link_to "Continuar", confirm_welcome_path, :class => "continue_link"