#header.grid_12
  %h1
    Welcome#index

%span.clear
%p
  Find me in app/views/welcome/index.html.erb

-if logged_in?
  Logged in as:
  = h(current_user.login)

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis iaculis justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras consectetur ullamcorper gravida. Proin vitae porttitor ligula. Mauris ultricies sapien eu tellus tempus eu vehicula magna tristique. Pellentesque ac nisl nisl. Duis bibendum consequat porta. In nec justo magna, at feugiat lectus. Curabitur malesuada, diam vitae tincidunt aliquet, eros elit elementum arcu, ac euismod metus massa non quam. Nunc fringilla, leo ac venenatis hendrerit, nibh massa adipiscing diam, ut gravida tortor justo at quam. Morbi in suscipit tortor. Cras aliquam pretium metus, vel congue tellus mattis eu. Curabitur scelerisque volutpat mauris, eu malesuada dolor tempus eu. Vestibulum ac ante velit, consectetur mollis quam. Maecenas sagittis elit nisl, eget pellentesque justo. Aenean varius, risus vitae viverra lobortis, nulla orci vestibulum lectus, nec pretium mauris velit sit amet felis. Sed placerat dolor sit amet enim hendrerit imperdiet eget et arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

  Vivamus hendrerit, augue sed vehicula consectetur, libero neque faucibus magna, sed interdum odio nisl ut risus. Integer ac augue odio. Morbi vel nulla elit, ac cursus dolor. Suspendisse ullamcorper urna ac erat condimentum mattis. Quisque aliquam vestibulum varius. Aliquam venenatis ultricies semper. Duis dignissim, nisl quis dapibus faucibus, magna mauris pellentesque metus, quis dignissim nibh nunc non elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer in nulla erat, sed porta ante. Morbi nunc mi, tempor eu ullamcorper dignissim, tempus non ligula. Morbi viverra metus a tellus placerat laoreet molestie in lacus. Sed vitae tincidunt ligula. Integer ornare ante volutpat erat dictum euismod. Donec orci leo, consequat dictum cursus vitae, lobortis nec metus. Etiam erat est, pulvinar id pellentesque sit amet, pulvinar eu sapien. Nulla pulvinar tempus vehicula. Integer quis mi purus, quis venenatis erat. Ut nec venenatis ante. Etiam quis vulputate leo. Sed condimentum, quam sed faucibus dictum, velit lacus porta felis, eget dapibus quam quam eu orci.