#header.grid_12
  %h1
    Welcome honey

%ul
  -@questions.each do |question|
    %li{:style => "border: 1px solid black"}
      %strong
        = link_to h(question.title), question_path(question)
      %br
      Answers:
      = question.answers_count
      %br
      = truncate(question.body, :length => 400)
