
#header
  %h1
    = t("views.layout.recent_questions", :default => "Recent Questions")
%br.clear

#questions
  -@questions.each do |question|
    = render :partial => "shared/question", :locals => {:question => question}
