
-post.versioned_keys.each do |key|
  -data = version.data[key]
  -if !data.blank?
    %h2=t(key, :scope => scope)
    -if key.to_s == "body"
      = find_and_preserve(shapado_auto_link(markdown(data)))
    -else
      &= data.is_a?(Array) ? data.join(", ") : data
