
.group
  %label.label
    = t('.answer_label')

  -opts = {:class => "text_area", :rows => 'auto', :cols => 'auto'}
  -opts[:id] = "markdown_editor" if local_assigns[:markdown]

  = f.text_area :body, opts

  -if local_assigns[:markdown]
    %label.label
      = t("global.preview")
    #markdown_preview.markdown
      =markdown(@answer.body)
