= hidden_field_tag "question_id", @question.id
-if local_assigns[:parent]
  = f.hidden_field :parent_id, :value => local_assigns[:parent].id
.field-group
  .label-container
    %label
      = I18n.t('views.answers.form.answer_label')
  -opts = {:class => "text-area huge"}
  -opts[:id] = "markdown_editor" if local_assigns[:markdown]
  = f.text_area :body, opts
  -if local_assigns[:markdown]
    #markdown_preview.markdown
