= hidden_field_tag "question_id", @question.id
-if local_assigns[:parent]
  = f.hidden_field :parent_id, :value => local_assigns[:parent].id
.field-group
  .label-container
    %label
      = I18n.t('views.answers.form.answer_label')
  = f.text_area :body, :class => "text-area huge", :id => "markdown_editor"
  #markdown_preview.markdown
