-content_for :subtabs do
  .navtitle
    = t(".title")

- form_for(:answer, :url => question_answer_path(current_languages,@question, @answer), :html => {:method => :put, :class => "form"}) do |f|
  =render :partial => "form", :locals => {:f => f, :markdown => true}
  .group
    .group.navform
      = f.submit t("scaffold.update"), :class => "buttton"
      = t("global.or")
      = link_to t('scaffold.cancel'), question_path(current_languages, @question), :class => "button cancel"
