-content_for :subtabs do
  .navtitle
    =t(".title", :count => @answer.versions.count)

%h2
  = link_to h(@question.title), question_path(current_languages, @question)

-counter = @answer.versions.count
#answers
  .answer
    %h2.version_title
      =t(".current_version")
      = counter
    .answer-body
      .markdown
        = shapado_auto_link(markdown(@answer.body))

  -@answer.versions.reverse_each do |version|
    -counter -= 1
    -if !version.data.empty?
      .answer
        %h2.version_title
          =t(".version")
          %span.version
            &=counter
        .answer-body
          .markdown
            = find_and_preserve(shapado_auto_link(markdown(version.data["body"].first)))
          .controls
            .actions
              -if logged_in? && current_user.can_modify?(@answer)
                =link_to t(".set_as_current"), rollback_question_answer_path(current_languages, @question, @answer, :version => counter), :method => :put
          .clear
        .clear
