-content_for :css do
  = stylesheet_link_tag 'compiled/components/show_question.css'

#question
  #question-title
    %h2
      = link_to h(@question.title), question_path(current_category, @question)
  #question-body.markdown
    = markdown(@question.body)

.subtitle
  = t('activerecord.models.answer')

#answers
  =render :partial=> "questions/answer", :locals=> {:question => @question, :answer => @answer, :comment => Answer.new}
