%h3
  =t(".title")
.content
  %ul.list
    -widget.recent_groups.each do |group|
      %li
        = link_to h(group.name), domain_url(:custom => group.domain)
        &= truncate(strip_tags(group.description), :length => 35)
  .more
    =link_to t("scaffold.more"), groups_path
  .clear
.clear
