-cache("tag_cloud_#{current_group.id}_#{Date.today.to_s}") do
  %h3
    = t('.tags', :default => [:"layouts.applications.tags", :"activerecord.attributes.user.tags", "tags"])
  .content
    = self.tag_cloud
  .clear
