%h3
  Recent Users
.content
  %ul.list
    -widget.recent_users(current_group).each do |user|
      %li
        .gravatar
          =gravatar(user.email.to_s, :size => 32)
        .item
          =link_to h(user.login), user_path(user)
          .joined
            joined
            =t("time.ago", :time => time_ago_in_words(user.created_at))
  .more
    =link_to "more...", users_path
    .clear
.clear
