
-form_for flag, :html => {:class=>"form"} do |f|
  =f.hidden_field "flaggeable_type", :value => flag.flaggeable.class.name
  =f.hidden_field "flaggeable_id", :value => flag.flaggeable.id
  =f.hidden_field "return_to", :value => source
  .field-group
    %label
      =t(:label, :scope=>"views.flags.form")

  .field-group
    .label-container
      %label
        =t(:type, :scope=>"activerecord.attributes.flag")
    .field
      = f.select :type, Flag::TYPES.collect{|type| [t(type, :scope=>"views.flags.form"), type]}

  .field-group
    .field
      .buttons
        = f.submit t("scaffold.create")
        = link_to t("scaffold.cancel"), source, :class => "button cancel"
