
-content_for :subtabs do
  .navtitle
    = t(".title", :model => I18n.t("activerecord.models.#{@resource.class.to_s.tableize.singularize}"))

= render :partial => "flags/form", :locals => {:flag => @flag, :source => @source, :flaggeable => @resource, :form_id => "question_flag_form" }
