.navtitle
  = t("questions.unanswered.title")

%ul{:style => "display: inline"}
  -if logged_in?
    %li.mytags
      = link_to t(".my_tags", :default => :"questions.unanswered.my_tags"), unanswered_questions_path(:sort=>"mytags")
  %li.newest
    = link_to t(".newest", :default => :"questions.index.newest"), unanswered_questions_path(:sort=>"newest")
  %li.votes
    = link_to t(".votes", :default => :"questions.index.votes"), unanswered_questions_path(:sort=>"votes")
