.navtitle
  = t(".recent_questions", :default => "Recent Questions")
  -if @questions
    == (#{@questions.total_entries})

%ul{:style => "display: inline"}
  %li.activity
    = link_to t("questions.index.active"), root_path(:tab=>"activity")
  %li.hot
    = link_to t("questions.index.hot"), root_path(:tab=>"hot")

