.badge
  background: #222
  +rounded(10px, 10px, 10px, 10px)
  padding: 10px 20px 10px 10px
  margin: 4px 10px
  border-bottom: 1px solid gray
  .icon
    margin: 4px 8px 0px 0px
    +rounded(20px, 20px, 20px, 20px)
    float: left
    width: 10px
    height: 10px
    &.silver
      background: lightGrey
    &.bronze
      background: brown
    &.gold
      background: yellow
  .text
    font-size: 18px
    font-weight: normal
    color: #eee
    .user
      a
        color: #FF6600 !important
        &:link, &:hover, &:visited, &:active
          color: #FF6600 !important

  &.mini
    line-height: 15px
    padding: 0px 4px 0px 4px
    margin: 0px
    +rounded(4px, 4px, 4px, 4px)
    margin-left: 3px
    display: inline
    overflow: hidden
    float: left

    .icon
      margin: 5px 4px 0px 2px
      height: 6px
      width: 6px
    .text
      display: inline
      font-size: 10px
