:markdown

  ## プライバシーポリシー
  「ムーンギフト（以下「当方」といいます）では利用者のプライバシー（個人情報）の重要性を認識し、管理については細心の注意を払って取り扱います。

  ### 1. 個人情報の定義について
  当方では、個人情報をお名前、ご住所、お電話番号、生年月日、メールアドレスなどの登録情報など、特定の個人を識別出来る情報とします。

  ### 2. 個人情報の収集について
  会員登録時、サービス利用時にご承諾をいただいた上、必要な範囲内で個人情報を収集します。

  ### 3. 個人情報の保護、管理、組織体制
  厳重な管理の下、第三者からの不正アクセス、情報の紛失、破壊、漏洩等が起きぬよう合理的な安全対策を講じ個人情報を保護するための整備をします。

  ### 4. 個人情報の利用
  収集目的、及び利用範囲内でのみ利用することとし、目的以外および範囲を超えての利用は一切しません。※提供・開示（いずれかに該当の場合、個人情報を提供・開示出来るものとします）
  - 会員の同意を得た場合。
  - 会員の重大な利益の保護に必要な場合。
  - 売買契約上、金融機関との間で確認の必要がある場合。
  - 法令等によって開示、提供が求められた場合。

  ### 5. 個人情報の修正
  会員自身がプロフィールの編集および退会処理を行うこととします。

  ### 6. お客様の同意
  当方は会員がこのプライバシーポリシーに同意されていることを前提として、サービスを提供します。本規約に記載されている内容は、利用者により安全で快適なサービスを提供するために変更・改訂されることがあります。その場合は、変更・改訂された規約に同意されたものとします。

  ### 7. 法令・ガイドラインの遵守
  当方は、個人情報保護法ならびに関連する法令及びガイドラインを遵守します。
