:markdown
  ##Privacy##

  This document outlines this service's respect for your personal privacy as a user of the service.

  * Almost all the text and files that users upload to this site is available under the site license (see the license block at the bottom of this page). Users agree to the license when they register to use the site for the first time. Typically that means that the data can be copied far and wide, for commercial and non-commercial purposes, and in modified or unmodified form. If you're not OK with that, don't use the service.
  * The following data items are considered private data that won't be shared with other users, business partners, or the public at large:

    o your password

    o your email address

    o your IM address (AIM, Jabber, or other instant messaging address)

    o your phone number

    o your "private messages"

    o your login credentials (username and password) for other services (Twitter, Facebook, etc.)

  * Some private data may be published in aggregate, e.g. "60% of our users are registered with Gmail addresses."
  * Your posts (including files) can be downloaded and re-used by other services, either one-by-one or in bulk as RSS files.
  * Your profile information (including subscriptions and avatars) can be downloaded and re-used by other services, either scraped from the HTML interface or in bulk as FOAF files.
  * Your posts will be forwarded to users who subscribe to them, including users on other services.
  * Your profile information will be sent to web services for users who subscribe to you or to whom you subscribe.
  * Based on your email preferences, you may receive automated email messages for important system events, such as when others subscribe to your notices.
  * Based on your email preferences, you may receive an email newsletter. You can opt out of the newsletter if you don't want to receive it.
  * In urgent situations, administrators may send you email directly to your registered email address, even if you've requested no notices or newsletter. Administrators will use digitally-signed email.
  * This service will comply with court orders to turn over your private information.

