:markdown
  ## サービス利用規約
  ### 第1条（利用規約の適用範囲および変更）

  1. QAhub利用規約（以下「本利用規約」といいます）は、ムーンギフト（以下「当方」といいます）が運営するインターネット・サービス（以下「本サービス」といいます）をご利用いただく際の、当方と利用者との間の一切の関係に適用します。 
  2. 会員とは、所定の方法により会員登録またはOpenIDなどの外部認証技術を使ってログインをした者をいい、利用者とは、会員を含む当方が提供する本サービスを利用する全ての者とします。利用者は、本利用規約を遵守のうえ、本サービスを利用するものとします。 
  3. 当方は、利用者に事前告知をすることなく、本利用規約を変更することができます。本利用規約が変更された場合、変更後の規約が適用されるものとし、利用者は変更後の規約に同意したものとみなされます。

  ### 第2条（本サービスの概要と範囲）
  1. 本サービスは、会員間における質問と回答の形式による情報交換、利用者における情報収集および閲覧の機会、ならびにそれらの環境を提供することを目的とします。
  2. 当方は利用者に事前告知することなく、本サービスに新しいサービスを追加、または変更することができるものとします。
  3. 本サービスは、複数の他のウェブサイトのサービスと連携しており、本サイト上にて投稿された内容は、一定条件の下、他のウェブサイトにも公開されます。

  ### 第3条（会員に関する情報の開示と利用）
  1. 当方は原則として、会員が会員登録および本サービスの利用において当方に対して開示した個人情報（以下「会員情報」といいます）のうち、本サービス上で開示される会員情報以外の会員情報について、事前の同意なく当方が第三者に対しこれらの会員情報を開示することはありません。ただし、公的機関からの照会および当方が法令によって開示義務を負う場合などはその限りではありません。
  2. 会員は、会員登録の際に当方に開示した情報に変更が生じた場合には、速やかに変更登録を行うものとします。
  3. 当方は、会員情報を当方が有益だと判断する情報（当方、広告主および提携先の商品、サービスなどの情報を含む）を提供する目的で利用することができるものとします。
  4. 当方は、本サービスの向上および当方のマーケティングなどの目的で会員情報を集計および分析などするものとします。
  5. 会員情報は、当方のプライバシーポリシーに従い、当方が管理します。
  6. 会員は、本条に定めるとおりに当方が会員情報を扱い、保有することに同意し、異議を申し立てないこととします。

  ### 第4条（パスワードの管理）
  会員は、会員本人の責任の下でパスワードを管理するものとし、パスワードの盗用、不正利用その他の事情により当該会員以外の者が本サービスを利用し会員に損害が生じた場合でも、入力された会員IDおよびパスワードが登録されたものと一致することを所定の方法により確認したとき、当該会員による本サービスの利用があったものとみなし、当方は一切の責任を負わないものとします。

  ### 第5条（退会）
  1. 当方は、会員が以下の事由に該当すると判断した場合には、事前に通知することなく、かつ、会員の承諾を得ることなく、当該会員による本サービスの利用停止、当該会員のパスワードなどの変更、または当該会員の会員資格の取消しを行うことができるものとし、当該理由を開示する義務を負わないものとします。
      1. 本利用規約に違反した場合
      2. 会員登録の際の記入事項に虚偽があることが判明した場合
      3. パスワードを不正に使用した場合
      4. 本サービスによって提供された情報を不正に使用した場合
      5. 当該会員が利用者、第三者および当方に損害を与える危険があると判断した場合
      6. 第7条に定める禁止行為を行った場合
      7. その他、当方が本サービスの利用について不適当と判断した場合
  2. 会員が前項各号に該当するため、当方が前項に定める措置をとった場合において、当該会員に損害が発生したとしても、当方は一切責任を負わないものとします。

  ### 第6条（免責事項）
  1. 当方は、本サービスによって提供する情報の正確性、完全性などを保証するものではありません。当該情報に起因して利用者および第三者に損害が発生したとしても、当方は一切責任を負わないものとします。
  2. 本サービス上に投稿された回答の履歴は本サービス上で公開されます。回答履歴の公開に伴い損害が発生したとしても、当方は一切責任を負わないものとします。
  3. 当方は、利用者に発生した使用機会の逸失、データの滅失、業務の中断、またはあらゆる種類の損害（間接損害、特別損害、付随損害、派生損害、逸失利益を含む）に対して、たとえ当方がかかる損害の可能性を事前に通知されていたとしても、当方は一切責任を負わないものとします。
  4. 当方は、利用者が本サービスの利用によって、他の利用者および第三者に対して損害を与え、生じた侵害および紛争に対し、また、利用者自身に損害が生じ、発生した侵害および紛争に対して、一切責任を負わないものとします。
  5. 本サービスを受けるためのウェブサイトへの接続は、利用者が自己の費用で行うものとし、当方は一切の費用および責任を負わないものとします。
  6. 会員登録の際に当方に開示した情報の変更登録がなされなかったことにより生じた損害について、当方は一切責任を負わないものとします。

  ### 第7条（禁止事項）
  1. 当方は、利用者が本サービスを利用するにあたり、以下の事由に該当する行為を禁止します。 
      1. 公序良俗に反する行為
      2. 犯罪的行為を助長、またはその実行を暗示する行為
      3. 利用者、第三者および当方の知的財産権、肖像権、パブリシティ権などの正当な権利を侵害する、または侵害のおそれがある行為
      4. 利用者または第三者の財産、信用、名誉またはプライバシーを侵害する、または侵害のおそれがある行為
      5. 他の利用者または第三者に無断で当該人物の個人を特定できる情報を公開する行為
      6.会員が自己の責任に基づき掲載した内容の責任を負うことについて会員自身の明確な同意を条件に会員自身に関わる個人を特定できる情報の公開を許諾し可能とするものとして当方が提供するスペース以外において、当該スペースで公開された情報以外の会員自身に関わる個人を特定できる情報を公開する行為
      7. 本サービスの提供される地域において法令に反する行為
      8. 他の利用者または第三者に不利益または損害を与える行為
      9. 他の利用者または第三者に対する誹謗中傷
      10. 営業や広告などに関する宣伝を目的にする行為
      11. 過度あるいは不適切に特定の外部Webサイトへ誘導することが目的と判断される行為
      12. 児童・若年者に対し悪影響があると判断される行為
      13. アダルトサイト・出会い系サイトなど年齢制限を有するサイトや、違法・有害サイトなどへのリンク行為
      14. 会員の資格を第三者に譲渡、貸与すること、または第三者と共用する行為
      15. 本サービスの運営を妨げる行為
      16. 当方の信用を毀損する行為
      17. 本利用規約に違反する行為
      18. その他、当方が不適当と判断する行為
  2. 前項各号に該当する行為によって、当方が何らかの損害を被った場合には、当方が被った損害を、その利用者に賠償するよう請求することができるものとします。

  ### 第8条（投稿内容の変更および削除）
  1. 当方は、以下の事由がある場合には、会員に承諾を得ることなく投稿、表示される内容を変更および削除することができるものとします。また、当方は投稿者である会員への対応業務に従事した者に係る人件費、その他の費用に相当する金額を含め、当方が被った損害を当該会員に賠償するよう請求することができるものとします。 
      1. 法令または本利用規約などに違反したものである場合
      2. 第7条に定める禁止事項に該当する場合
      3. 当方が直ちに変更または削除する必要があると判断した場合

  ### 第9条（情報の無断使用の禁止）
  1. 第1項または第2項に違反し、当方が何らかの損害を被った場合には、利用者は当方に対して損害の賠償をしなければならないものとします。

  ### 第10条（投稿内容の利用権）
  1. 当方は、会員が本サービス上に投稿することで公開される質問、回答、プロフィール等を保存し、本サービス上で適宜利用することができるものとします。なお、当方が必要と認めた場合には、投稿者の承諾を得ることなく、保存されている投稿内容の削除または修正を行う場合があります。
  2. 投稿内容の利用について、利用者および第三者に損害が発生したとしても、当方は一切責任を負わないものとします。

  ### 第11条（本サービスの一時的な中断)
  当方は以下の事由により、利用者に事前に連絡することなく、一時的に本サービスの提供を中断することがあります。本サービスの中断による損害について、当方は一切責任を負わないものとします。
  1. 当方のシステムの保守、点検、修理などを行う場合
  2. 火災、停電または天災地変により本サービスの提供ができなくなった場合
  3. 運用上または技術上、本サービスの提供ができなくなった場合
  4. その他、当方が中断をせざるを得ないと判断した場合

  ### 第12条（提供サービスの変更・停止・廃止）
  1. 当方は、本サービスの内容を、利用者への事前告知なく変更することができます。
  2. 当方は本サービスを、事前告知なしに停止または廃止することができるものとします。
  3. 本サービスにおいて、利用者および第三者に損害が発生したとしても、当方は一切責任を負わないものとします。

  ### 第13条（国外からの利用）
  1. 日本国外から本サービスを利用する場合には、居住国の法律および関係する国際条約に従うものとします。
  2. 日本国外からの本サービスの利用者につき、当該利用者の本サービスの利用が居住国の法律および関係する国際条約に違反しないにもかかわらず、本サービスの利用が、日本法に違反し当該利用者に損害が発生した場合、または、第三者に損害を発生させた場合、当方は一切責任を負わないものとします。

  ### 第14条（準拠法）
  本利用規約は、日本法に準拠して解釈されるものとします。

  ### 第15条（管轄裁判所）
  本サービスに関して当方と利用者または第三者間で紛争が生じた際には、横浜地方裁判所を第一審の合意管轄裁判所とします。

  ### 第16条（本利用規約の効力）
  本利用規約は2010年6月1日から発効するものとし、過去の規約に優先して適用されるものとします。 
