%ul.close_requests.list
  -question.close_requests.group_by{|f| f.reason}.each do |reason, close_requests|
    %li
      = close_requests.size
      x
      %strong
        = t(reason, :scope=>"close_requests.form")
  -if current_user.mod_of?(current_group)
    = link_to t("scaffold.details"), question_close_requests_path(question)
