- content_for :subtabs do
  .navtitle
    = t(".title", :model => I18n.t("activerecord.models.question"))

= render :partial => "close_requests/form", :locals => {:close_request => @close_request, :question => @question }
