@import 960/grid.sass

#question
  #question-title
  #question-body
    text-align: justify

.answer
  text-align: justify
  width: 100%
  min-width: 70%
  color: #121314
  float: right
  margin-bottom: 4px
  .answer
    width: 98%
  .children
    padding: 10px 20px
    background-color: #efefef

.answer_title, .answer_body
  padding: 5px

.answer.solution
  .answer_title, .answer_body
    background: #e0ffe0
  .children
    padding: 10px 20px
    background: #ddeedd


.answer_title
  border-bottom: 1px solid #99f

.answer_body
  border-bottom: 1px solid #666
