@import 960/grid.sass

#question
  #question-title
  #question-body
  #question-info
    background: #dedefe
    border: 1px solid #d4d4d4
    border-raiuds: 5px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
