
%h2.title
  =t(".reputation_rewards_subtitle")

.description
  =t(".reputation_rewards_description")

= render :partial => "groups/reputation_rewards_form", :object => f

.group.navform
  = f.submit t('scaffold.update')