!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  %body
    =yield
    %br
    %p{:style=>"border-top: 1px solid #999"}
      もしあなたがこの通知を
      = @domain
      から受け取りたくなければ、設定を編集して下さい。
      = url_for(:host => @domain, :controller => "users", :action => "show", :id => @user)
