!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  %body
    =yield
    %br
    %p{:style=>"border-top: 1px solid #999"}
      si ya no quieres recibir notificaciones automaticas de
      = AppConfig.domain
      , cambie sus configs en las opciones de noticificaciones.
      (
      = url_for(:host => AppConfig.domain, :controller => "users", :action => "show", :id => @user)
      )
