!!! Strict
%html{ "xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
  %body
    =yield
    %br
    %p{:style=>"border-top: 1px solid #999"}
      = I18n.t("layouts.notifications.message", :domain => @domain, :locale => @language)
      = url_for(:host => @domain, :controller => "users", :action => "edit", :id => @user, :anchor => "notifications")
